h1,
h2 {
  text-align: center;
}

p {
  padding-left: 10px;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

input {
  height: 1em;
  width: 20em;
}

button {
  margin: 5px;
}

#stats {
  border: 1px solid black;
  border-radius: 5px;
}

#list {
  margin-top: 10px;
  width: 100%;
}

input {
  margin-left: 20px;
}

.sorting,
tr {
  display: grid;
  grid-template-columns: 1fr 200px 200px 200px 1fr;
}

#list,
th,
td {
  border: 1px solid black;
}

.popUp {
  z-index: 1;
  display: none;
  position: fixed;
  justify-content: space-between;
  top: 50%;
  left: 31%;
  background-color: rgb(199, 199, 199);
  border: 1px solid black;
  border-radius: 5px;
  width: 400px;
  padding: 10px;
}

.exit {
  height: 2em;
  width: 2em;
  margin-left: 5em;
}

section {
  z-index: 2;
}

.crests {
  border: 1px solid black;
  border-radius: 5px;
  width: 100px;
  height: 130px;
}

.gryffindor {
  background-color: red;
}

.slytherin {
  background-color: green;
}

.hufflepuff {
  background-color: yellow;
}

.ravenclaw {
  background-color: rgb(87, 87, 255);
}

.prHouse {
  display: grid;
  grid-template-columns: repeat(2, 136px);
  grid-template-rows: repeat(2, 40px);
}

.popUpBtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
